proyectoFinal/grafosvenv/
proyectoFinal/interfaz/escenario.json
proyectoFinal/logica/grafo_coords
proyectoFinal/logica/__pycache__
proyectoFinal/*.json
proyectoFinal/logica/datos_completos.txt
proyectoFinal/logica/grafo.txt
proyectoFinal/algoritmos/__pycache__
